[submodule "shuttle"]
	path = shuttle
	url = git@github.com:ucb-bar/shuttle.git
[submodule "saturn-vectors"]
	path = saturn-vectors
	url = git@github.com:ucb-bar/saturn-vectors.git
[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = git@github.com:ucb-bar/testchipip.git
[submodule "DRAMSim2"]
	path = DRAMSim2
	url = git@github.com:firesim/DRAMSim2.git
[submodule "ucie"]
	path = ucie
	url = git@github.com:ucb-bar/ucie.git
[submodule "tacit"]
	path = tacit
	url = git@github.com:riscv-tacit/tacit.git
[submodule "tacit_decoder"]
	path = tacit_decoder
	url = git@github.com:riscv-tacit/tacit_decoder.git
